assets/*
!assets/.gitignore
images/*
img/*
!img/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/config/_db.php
/protected/config/_debug.php
/protected/config/_local.php
protected/yiic.log
robots.txt
sitemap.xml
!/.gitignore